<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url('/images/view_user.jpg');
            background-size: cover;
        }

        .main h1 {
            margin-top: 10vh;
            margin-bottom: 5vh;
            color: #fff;
        }

        .table-bordered td {
            color: #fff;
        }
        
    </style>
  <title>Students</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent bg-transparentt">
            <a class="navbar-brand" href="#"><b class="text-light">RPS</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/dashboard"><b class="text-light">Dashboard</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout"><b class="text-light">Logout</b></a>
                </li>
                
              </ul>
            </div>
          </nav>
    <!------------------------------------------------------------------->
    
    <form action="/users/view_users" method="POST">
    <div class="container main">
    <h1 align="center">Students </h1>         
    <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Department</th>
      <th scope="col">Batch</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
    </thead>
    <tbody > <% for(var i=0; i < info.length; i++) { %>
      <tr>
          <td># <%= (i+1) %></td>

          <td><%= info[i].username %></td>
           <td><%= info[i].firstname %></td>
             <td><%= info[i].lastname %></td>
           <td><%= info[i].dept %></td>
            <td><%= info[i].batch %></td>
           
           <td id ="ni"> 
            <a id="ni"class="btn btn-xs btn-warning btn-edit" href="/edit/<%=info[i]._id %>">Edit</a>
            <a id="ni"class="btn btn-xs btn-danger btn-delete" href="/delete/<%=info[i]._id %>">Delete</a>
          </td>
      </tr>
  <% } %>
     
    </tbody>
  </table>
</div>
</form>
</body>
</html>